@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">Welcome To Officer's Engagement System datetime</h4>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
@*<style type="text/css">
    div.panel {
        border: 1px solid #7b7a7a21;
        box-shadow: inset 1px 0px 4px 0px;
        cursor: pointer;
    }

    h4 {
        font-weight: 600;
    }
</style>
<div class="row" style="padding:20px">
    <div class="col-md-4" style="max-height:120px;min-height:120px;">
        <div class="panel panel-primary" style="max-height:120px;min-height:120px">
            <div class="panel-body">
                <div class="row" style="margin-top:5px">
                    <div class="col-md-8">
                        <h5 class="ml-5">
                            SHI Meeting
                            <br />
                            <h5 class="ml-5">Today i.e. @DateTime.Now.ToShortDateString()</h5>
                        </h5>
                    </div>
                    <div class="col-md-4">
                        <h1 style="font-size:70px;margin-top:0px">@ViewBag.totalrecognizable</h1>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-md-4" style="max-height:120px;min-height:120px;">

        <div class="panel panel-primary" style="max-height:120px;min-height:120px">
            <div class="panel-body">
                <div class="row" style="margin-top:5px">
                    <div class="col-md-8">
                        <h5 class="ml-5">
                            AS&FA Meeting
                            <br />
                            <h5 class="ml-5">Today i.e. @DateTime.Now.ToShortDateString()</h5>
                        </h5>
                    </div>
                    <div class="col-md-4">
                        <h1 style="font-size:70px;margin-top:0px">@ViewBag.totalnonrecognizable</h1>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-md-4" style="max-height:120px;min-height:120px;">
        <div class="panel panel-primary" style="max-height:120px;min-height:120px">
            <div class="panel-body">
                <div class="row" style="margin-top:5px">
                    <div class="col-md-8">
                        <h5 class="ml-5">
                            AS(SL) Meeting
                            <br />
                            <h5 class="ml-5">Today i.e. @DateTime.Now.ToShortDateString()</h5>
                        </h5>
                    </div>
                    <div class="col-md-4">
                        <h1 style="font-size:70px;margin-top:0px">@ViewBag.disposeditem</h1>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="row" style="padding:20px">
    <div class="col-md-4" style="max-height:120px;min-height:120px;">
        <div class="panel panel-primary" style="max-height:120px;min-height:120px">
            <div class="panel-body">
                <div class="row" style="margin-top:5px">
                    <div class="col-md-8">
                        <h5 class="ml-5">
                            JS(AV) Meeting
                            <br />
                            <h5 class="ml-5">Today i.e. @DateTime.Now.ToShortDateString()</h5>
                        </h5>
                    </div>
                    <div class="col-md-4">
                        <h1 style="font-size:70px;margin-top:0px">@ViewBag.totalEntry</h1>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-md-4" style="max-height:120px;min-height:120px;">

        <div class="panel panel-primary" style="max-height:120px;min-height:120px">
            <div class="panel-body">
                <div class="row" style="margin-top:5px">
                    <div class="col-md-8">
                        <h5 class="ml-5">
                            JS(AM) Meeting
                            <br />
                            <h5 class="ml-5">Today i.e. @DateTime.Now.ToShortDateString()</h5>
                        </h5>
                    </div>
                    <div class="col-md-4">
                        <h1 style="font-size:70px;margin-top:0px">@ViewBag.activeitem</h1>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-md-4" style="max-height:120px;min-height:120px;">
        <div class="panel panel-primary" style="max-height:120px;min-height:120px">
            <div class="panel-body">
                <div class="row" style="margin-top:5px">
                    <div class="col-md-8">
                        <h5 class="ml-5">
                            SEA(S) Meeting
                            <br />
                            <h5 class="ml-5">Today i.e. @DateTime.Now.ToShortDateString()</h5>
                        </h5>
                    </div>
                    <div class="col-md-4">
                        <h1 style="font-size:70px;margin-top:0px">@ViewBag.tatalSupplier</h1>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>*@
