@model IEnumerable<OfficerEngagement.Models.Engagement>

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>*@
<h4>Upcoming Engagements</h4>
@*<p>
        <a asp-action="AddOrEdit">Create New</a>
    </p>*@
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OfficerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChairBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Venue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChairBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Agenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EngId">Update</a>
                    @*<a asp-action="Details" asp-route-id="@item.EngId">Details</a>*@

                    <a asp-action="Delete" asp-route-id="@item.EngId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
